<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <link rel="stylesheet" href="../css/note.css">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>TITLE</h1>
            </header>

            <div class="slogan">
                NOTE YOUR DAY
            </div>

            <div class="user-input-container">
                <div class="user-input">
                    <input type="text" placeholder="제목을 입력하세요" class="title" name="title">
                </div>

                <div class="user-input">
                    <input type="text" placeholder="부제를 입력하세요" class="description" name="description">
                </div>

                <div class="user-input user-input-content">
                     <span>메모</span>
                    <textarea placeholder="내용을 입력하세요" class="content" name="content"></textarea>
                </div>
            </div>

            <div class="button-wrapper">
                <a href="../index.html">
                    <button class="cancel-btn">취소하기</button>
                </a>
                <button class="create-btn">생성하기</button>
                <button class="modifty-btn">수정하기</button>
            </div>
        </div>
        <script src="../js/note.js"></script>
    </body>
</html>